header {
  display: flex;
  justify-content: space-between;
}

.black-border {
  border: solid black 2px;
  padding: 5px 20px;
}

#app-academy {
  /* padding: 5px 20px; */
}

a {
  text-decoration: none;
}

nav {
  display: flex;
  justify-content: space-around;

  margin-top: 20px;
}

#nav-bar {
  border-top: solid black;
  border-bottom: solid black;
  padding: 5px;
  margin-bottom: 11px;
}

#heading {
  border: solid;
  margin: auto;
  width: 470px;
  padding-left: 8px;
}

#under-line {
  margin: auto;
  display: flex;
  justify-content: space-evenly;
}

#author {
        margin-top: -10px;
    /* margin-right: -37px;
    margin-left: -80px; */
}

#social-links {
    margin-top: 7px;
    margin-right: 10px;
    margin-left: -148px;
}

.socials {
  width: 20px;
}
